
@font-face {
    font-family: 'you_murderer';
    src: url('../fonts/youMurderer/youmurdererbb_reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'face_your_fears';
	src: url('../fonts/faceYourFears/FaceYourFears.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ghastly_panic';
	src: url('../fonts/Ghastly_Panic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gypsy_curse';
	src: url('../fonts/Gypsy_Curse.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'metal_macabre';
	src: url('../fonts/MetalMacabre.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'traveling_typewriter';
	src: url('../fonts/TravelingTypewriter.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.btn {
    /*/color: white;
    font-weight: bold;
    background-color: #cd0f0f;*/
    /*9/30 New button styles*/
    /* display: inline-block;
     border: none;
     color: #FFF;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     font-family: Verdana;
     width: auto;
     height: auto;
     font-size: 16px;*/
     /*changing the padding 10/16/2016*/
     /*padding: 10px 40px;
     box-shadow: inset 0px 1px 1px 0 #FFC7C7,0px 5px 0px 0 #524951,0px 8px 5px 0 #464646;
     -moz-box-shadow: inset 0px 1px 1px 0 #FFC7C7,0px 5px 0px 0 #524951,0px 8px 5px 0 #464646;
     -webkit-box-shadow: inset 0px 1px 1px 0 #FFC7C7,0px 5px 0px 0 #524951,0px 8px 5px 0 #464646;
     text-shadow: 0 1px 0 #6d4768;
     background-image: linear-gradient(to left, #BC5A5A, #8D0707);
     background-color: #BA1A1A;
     /*adding width for same size buttons 10/5/2016*/
    /* width: auto;
     height:auto;*/
     display:inline-block;
     width:200px;
     padding:10px;
     color: #fff;
     border:2px solid #fff;
     text-align:center;
     outline:none;
     text-decoration:none;
     border-radius:0;
     background-color:#000;
     transition: border-color 0.3s ease-out, color 0.3s ease-out;
	 font-family: 'gypsy_curse';
	 -webkit-transform: scale(1.5,1);
	 font-size: 28px;
	 border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
	 box-shadow: 2px 2px 2px red, 3px 3px 8px #830303;
	 color: #EEE;
	 text-shadow: 2px 2px 2px #300000, 2px 3px 2px #400000, 2px 4px 2px #500000, 2px 5px 2px #600000, 2px 6px 2px #700000, 2px 7px 2px #800000, 2px 8px 2px #900000;
	 
	 
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn:hover {
    /*added box shadow */
    /*outline: 0 none;
    background-color: #cd0f0f;
    color: white; 
    box-shadow: inset 0px 1px 1px 0 #FFC7C7,0px 5px 0px 0 #524951,0px 8px 5px 0 #464646;*/
    background-color: #000;
    color: #000;
    color: #ff3d3d;
    border-color: #ff3d3d;
    transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
    background-color: #fff; /* fallback */
    background-color: rgba(56, 56, 56, 0.63);
}

    /*.btn:hover {*/
        /*9/30 changed the properties to the new style of buttons*/
        /*/border-top-color: #782828;
   background: #782828;
   color: #cccccc;
   }*/
        /*background-color: #fff;
        color: #000;
    }*/

.btn:active {
    /*9/30 changed the properties to the new style of buttons*/
   border-top-color: #ff3d3d;
   background: #ff3d3d;
   transform: translateY(4px);
}

body {
    font-family: 'face_your_fears';
    font-size: 19px;
    text-align: center;
    margin: auto;
    width: 90%;
    background-color: black;
}

#header {
    font-family: 'metal_macabre';
    font-size: 40px;
	padding-top: 40px;
}

#time {
    font-family: 'you_murderer';
	font-size: 50px;
	color: #cd0f0f;
}

#button {
    padding: 3px;
    margin: 5px;
	width: 65px;
    
}

#buttonYesNo {
    padding: 0px 10px 0px 10px;
    margin: 20px;
	width: 65px;
    
}

#yes {
	position: relative;
	left: -40px;
	margin: 0px 50px 0px 50px;
	
}

#no {
	position: relative;
	left: 40px;
	margin: 0px 50px 0px 50px;
}

#buttonReveal {
	position: relative;	
	left: -30px;
	margin: 0px 50px 0px 50px;
}

#buttonBack {
	position: relative;
	left: 10px;
	margin: 0px 50px 0px 50px;
}

#myText {
	margin-right: 10px;
	width: 300px;
	position: relative;
	left: -30px;
	font-family: 'traveling_typewriter';
	
}

footer {
    font-family: 'ghastly_panic', sans-serif;
    font-size: 20px;
    margin: auto;
    margin-left: -9.5%;
	-webkit-transform: scale(1.8,1);
}

#footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#coffins {
    font-size: 50px;
}

#coffins button {
    color: black;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:0; }
}
@-webkit-keyframes blink{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:0; }
}
@-moz-keyframes blink{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:0; }
}

/*9/30/2016 change to alignment of the typed effect*/
#instructions {
    text-align: left;
	font-family: 'traveling_typewriter';
}

#yes, #no {
    width:auto;
}

#contentAbout {
    display:none;
}

.btn:focus,.btn:active {
   outline: none !important;
}


.hiddenstuff {
	visibility:hidden;
}

.shown {
	visibility:visible;
}